/* Ceci est la feuille de style de la page index_v1_1.html */



body {
	font-family: 'Segoe UI light', Helvetica, Arial;
	color: #4a4a4a;
}
#block-page {
	margin: auto;
	padding: 0px;
	display: flex;
	flex-direction: row-reverse;
}

#main-block {
	width: 66%;
	margin: 0px;
	padding: 50px;
}
	header
	{
		margin: 0px;
		padding: 0px 0px 120px 0px;
	}
		header h1
		{
			margin: 0px;
			padding: 0px;

			font-size: 5em;
			text-transform: uppercase;
			color: #feca07;
		}
		header h1 span
		{
			color: #000;
			font-style: normal;
		}
		header p
		{
			margin: 0px;
			padding: 0px;

			font-size: 2em;
		}
		header p span
		{
			border-bottom: 2px solid #feca07;
		}
	#main-block h2
	{
		margin: 0px;
		padding: 0px 0px 5px 0px;
		border-bottom: 2px solid #feca07;

		font-size: 2em;
		text-transform: uppercase;
		color: #000;
	}
	#main-block .paragraph
	{
		display: flex;
	}

aside {
	width: 33%;
	margin: 0px;
	padding: 0px;
	background-color: #feca07;
}